<%- include('../inc/header')%>
<h2 style="background-color: blanchedalmond">Trang lien He</h2>
<h3>Bien truyen tu controller: <%= tieuDe%> </h3>
Nhóm liueen hẹ: <%=ten_nhom%>
<%- include('../inc/footer')%>
