<%- include('../inc/header')%>
<h2>Trang chu</h2>
<h3>Bien truyen tu controller: <%= tieuDe%> </h3>
<!--<%if(username.length>0){%>-->
<!--Xin chào: <%= username %>-->
<!--<%}%>-->
<%- include('../inc/footer')%>
